@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --main-color: rgb(10, 10, 10);
}

* {
    font-family: Montserrat, 'sans-serif';
    /* border: 1px red solid; */
}

*::-webkit-scrollbar {
    display: none;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

section {
    padding: 0;
    margin: 0;
}