@media (min-width: 1024px) {
    .movie-background {
        height: 80vh;
    }

    .logo {
        font-size: 3rem;
    }

    .nav-links {
        color: whitesmoke;
        display: flex;
        gap: 1rem 2rem;
        justify-content: space-between;
    }

    .ham-btn,
    .poster-container,
    .overview-container,
    .all-genres-container,
    .small-screen-elements{
        display: none;
    }

    .movie-background {
        background-size: 100% 100%;
    }

    .movie-container {
        backdrop-filter: none;
        align-items: flex-start;
        justify-content: flex-end;
        padding-bottom: 3rem;
    }

    .movie-details {
        max-width: 50%;
    }

    .movie-details h1 {
        font-size: 3.3rem;
    }

    .movie-details h4 {
        font-size: 2rem;
        font-weight: 500;
    }

    .movie-details-overview {
        display: block;
        width: 500;
        width: 100%;
        margin-top: 0;
    }

    .genres-container,
    .rating-2 {
        display: flex;
    }

    .genres-container button {
        padding: 8px 1rem;
    }

    .buttons-container button {
        padding-inline: 1rem;
        font-size: 1.2rem;
    }

    .trend-movie-poster {
        width: 18vw;
    }

    .actor-avatar {
        width: 8rem;
    }

    .trend-genres {
        gap: 2rem 1.2rem;
        padding: 4rem 0;
    }

    .genre {
        cursor: pointer;
        width: 23vw;
        height: 18vh;
        transition: all 0.1s ease-in-out;
    }

    .genre:hover {
        box-shadow: 0 0 20px 0 #57EBDE;
        border: transparent;
    }

    .genre p {
        font-size: 2rem;
    }

    .upcoming-movie img {
        width: 50vw;
    }

    .footer-container {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .footer-logo {
        width: 50%;
    }

    .footer-logo p {
        width: 90%;
    }

    .download-container article:hover {
        background-color: rgb(22, 22, 22, 0.2);
    }

    .quicktab-container,
    .download-container {
        width: 30%;
    }

    .search-input {
        height: 2rem;
        border-radius: 2rem;
        font-size: 1rem;
    }

    .all-movies-page form {
        gap: 8px;
        margin-block: 2rem;
    }

    .all-movies {
        gap: 1.4rem;
    }

    .all-movie {
        width: 16vw;
    }

    .category-title {
        text-align: center;
    }

    .movie-page-background {
        height: 70vh;
        mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 30%, transparent 80%);
        margin-top: 2rem;
    }

    .movie-page-container {
        margin-top: -12rem;
        padding-inline: 6rem;
    }

    .movie-page-details {
        width: 90%;
        gap: 4rem;
    }

    .movie-page-details img {
        height: 28rem;
    }

    .movie-page-details h1 {
        font-size: 3rem;
    }

    .large-screen-elements,
    .movie-page-rating-lg,
    .see-more {
        display: block;
    }

    .labels-container {
        margin-top: 4rem;
    }

    .labels-container label {
        width: 100%;
    }

    .labels-container label:nth-child(1),
    .labels-container label:nth-child(2) {
        border-right: 1px #57EBDE solid;
    }

    .movie-cast {
        font-size: 0.9rem;
    }

    .movie-cast img {
        width: 8rem;
    }

    .overview {
        font-size: 1.2rem;
        width: 80%;
    }
    
    .review {
        flex: 0 0 94%;
    }

    .genres-filter {
        gap: 8px;
    }

    .genres-filter button {
        padding: 8px 1rem;
    }

    .season-container {
        width: 100%;
        align-items: flex-start;
    }

    .ep-outer-container, .all-movies-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .ep-container {
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        width: 69vw;
        font-size: 0.9rem;
        height: fit-content;
    }

    .ep-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .ep-card {
        flex-direction: column;
        width: fit-content;
    }

    .ep-arrow {
        transform: rotate(0);
    }

    .ep-card img {
        width: 18vw;
    }

    .all-movies-header {
        padding-inline: 2rem;
    }

    select {
        padding: 6px;
        font-size: 1rem;
    }
    
    select option {
        font-size: 1rem;
    }

    .athenticate-page {
        min-height: 90vh;
    }
    
    .athenticate-form input {
        font-size: 1rem;
        width: 40%;
    }

        .athenticate-form button {
            font-size: 1rem;
        }
}