/* display: none */

.navbar {
    position: fixed;
    top: 1rem;
    right: 1rem;
    left: 1rem;
    border-radius: 6rem;
    background-image: linear-gradient(to bottom, #AEFB2A, #57EBDE);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: whitesmoke;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.logo {
    font-size: 2rem;
    font-weight: 900;
    color: black;
    text-decoration: none;
}

.ham-btn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}

.ham-btn span {
    border: 1px black solid;
    width: 1.9rem;
    border-radius: 2px;
    transition: all 0.6s ease-in-out;
}

.ham-btn.open span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
}

.ham-btn.open span:nth-child(2) {
    opacity: 0;
}

.ham-btn.open span:nth-child(3) {
    transform: rotate(-405deg) translate(7px, -7px);
}

.nav-links,
.overview-lg,
.large-screen-elements,
.see-more {
    display: none;
}

.ham-menu {
    background-image: linear-gradient(to right, #99f0e8, #57EBDE);
    position: absolute;
    top: 12vh;
    right: -50%;
    border-radius: 2rem 0 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    font-size: large;
    z-index: 10;
    transition: all 600ms ease-in-out;
}

.link {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

.link:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: bold;
}

.footer-link {
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}

.footer-link:hover {
    font-weight: bolder;
    background-color: rgb(0, 0, 0, 0.2);
}

.home-section {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: all 1s ease-in-out;
    overflow: visible;
}

.movieS-container {
    position: relative;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
}

.swiper {
    width: 100%;
    height: 100%;
}

.movie-background {
    flex: 0 0 100vw;
    min-height: 80vh;
    margin-top: 10vh;
    scroll-snap-align: start;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    flex-shrink: 0;
    mask-image: linear-gradient(to bottom,
            transparent 0%,
            black 10%,
            black 85%,
            transparent 100%);
}

.movie-container {
    background-color: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-block: 3rem;
}

.poster-container {
    position: relative;
}

.rating {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: rgb(0, 0, 0, 0.8);
    margin: 0;
    padding: 4px 8px;
    border-radius: 8px;
}

.rating-2 {
    display: none;
    gap: 4px;
    font-weight: 600;
}

.poster-img {
    width: 65vw;
    height: auto;
    border-radius: 1rem;
    box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.5);
}

.movie-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    padding-inline: 2rem;
    white-space: wrap;
    text-shadow: 0 0 10px black;
}

.movie-details h1 {
    font-size: 2rem;
    margin: 0px;
}

.movie-details-overview {
    display: none;
    width: 70%;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.buttons-container button {
    background-color: black;
    color: #57EBDE;
    font-weight: 600;
    border: 1px #57EBDE solid;
    padding: 12px 6px;
    border-radius: 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 4px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.buttons-container button:hover {
    box-shadow: 0px 0px 8px 1px #57EBDE;
    background-color: transparent;
    border: 1px white solid;
}

.trend-container {
    border-bottom: 2px gray solid;
    padding: 1rem;
}

.trending-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 4px 8px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.see-all:hover {
    border-radius: 8px;
    background-color: rgb(27, 27, 27);
}

.trend-movieS {
    display: flex;
    gap: 1.4rem;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-block: 1rem;
}

.trend-movie-poster {
    width: 28vw;
    border-radius: 1rem;
    border: 1px white solid;
}

.trend-movie {
    position: relative;
    display: flex;
    flex-direction: column;
    white-space: wrap;
}

.trend-movie p,
.movie-details h1,
.trend-actor p,
.upcoming-movie h4,
.all-movie p,
.movie-cast p,
.ep-infos p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trend-actor {
    white-space: wrap;
}

.actor-avatar {
    border: 1px white solid;
    padding: 4px;
    width: 4rem;
    height: auto;
    border-radius: 1.8rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.actor-avatar:hover {
    transform: scale(1.04);
    box-shadow: 0 0 10px 0 rgb(225, 225, 225, 1);
}

.trend-genres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.4rem;
    padding: 2rem 0;
    background-color: rgb(14, 14, 14);
    border-bottom: 2px gray solid;
}

.genre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 10vh;
    background-size: 100% 100%;
}

.genre p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
    stroke: black;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    font-weight: 700;
    font-size: 1.4rem;
}

.upcoming-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: rgb(14, 14, 14);
}

.upcoming-movieS {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
}

.upcoming-movie {
    width: auto;
    scroll-snap-align: center;
}

.upcoming-movie div {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    margin-block: 6px;
}

.upcoming-movie img {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px #57EBDE solid;
}

.upcoming-movie img:hover {
    box-shadow: 0 0 10px 0 #57EBDE;
}

.upcoming-movie h4 {
    max-width: 60%;
}

footer {
    position: absolute;
    color: black;
    background-image: linear-gradient(to bottom, #57EBDE, #AEFB2A);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 1rem 0;
    margin-top: 1rem;
    border-radius: 5rem 5rem 0 0;
    box-shadow: -4px 0 20px 1px rgb(87, 235, 222, 0.8);
}

footer p {
    font-weight: 500;
}

.copyright {
    opacity: 0.9;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.quicktab-container {
    width: 100%;
}

.quick-tabs {
    display: flex;
    flex-direction: column;
}

.download-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}

.download-container article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 8px 2rem;
    border-radius: 1rem;
    border: 1px black solid;
}

.download-infos {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.download-infos h3,
.download-infos p {
    margin: 0;
    padding: 0;
}

/* all movies styles */
.all-movies-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7rem;
    background-color: rgb(10, 10, 10);
    padding-inline: 1rem;
}

.genres-filter {
    display: flex;
    overflow-x: auto;
    gap: 2px;
    padding: 12px 0;
}

.genres-filter button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    border: 1px white solid;
    color: white;
    padding: 4px 8px;
    border-radius: 1rem;
    margin: 2px;
}

.genres-filter button.selected {
    background-color: #57EBDE;
    box-shadow: 0 0 10px 0 rgb(87, 235, 222, 0.8);
    color: black;
    border: 1px solid black;
}

.all-movies-page form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-input {
    width: 60%;
    background-color: transparent;
    color: white;
    border: 1px #57EBDE solid;
    border-radius: 1rem;
    padding: 8px 1rem;
    outline: none;
}

.search-btn {
    color: #57EBDE;
    padding: 1rem;
    border-radius: 50%;
    overflow: visible;
    cursor: pointer;
}

.search-btn:hover,
.search-btn:active {
    background-color: rgb(128, 128, 128, 0.1);
}

.category-title {
    color: white;
}

.all-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin-bottom: 3rem;
}

.all-movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28vw;
}

.all-movie p {
    color: white;
    white-space: wrap;
    max-width: 70%;
}

.all-movie-poster {
    width: 100%;
    border-radius: 1rem;
    border: 1px white solid;
}

.all-movies-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.selects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.selects-container p {
    white-space: nowrap;
    color: #57EBDE;
}

select {
    background-color: transparent;
    color: white;
    border-radius: 8px;
    border-color: #57EBDE;
    outline: none;
    padding-block: 4px;
}

select option {
    color: #57EBDE;
    background-color: black;
    font-size: 0.6rem;
}

/* movie page */
.movie-page {
    color: white;
    margin-bottom: 4rem;
}

.movie-page-background {
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 60%, transparent 100%);
    background-size: 100% 100%;
    width: 100vw;
    height: 30vh;
    margin-top: 10vh;
}

.movie-page-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 1rem;
    font-size: 0.7rem;
    margin-top: -2rem;
}

.movie-page-details {
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 100%;
}

.movie-page-details img {
    border: 1px #57EBDE solid;
    border-radius: 1rem;
    padding: 4px;
    height: 12rem;
}

.movie-page-details2 {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.movie-page-details2 h1 {
    margin-block: 0;
}

.movie-page-details2 h4 {
    margin-top: 0;
}

.moviePage-buttons-container {
    display: flex;
    gap: 12px;
    margin-top: 1rem;
}

.moviePage-buttons-container button {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    border: 1px #57EBDE solid;
    border-radius: 1rem;
    color: #57EBDE;
    font-size: 0.6rem;
    padding: 4px 8px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.moviePage-buttons-container button:hover {
    background-color: rgb(0, 0, 0, 0.6);
}

.moviePage-buttons-container button:active {
    transform: scale(0.98);
}
.genres-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-block: 2px;
    margin-bottom: 1rem;
}

.genres-container button {
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
    background-color: rgb(87, 235, 222, 0.1);
    padding: 4px 8px;
    border-radius: 1rem;
    border: 1px white solid;
}

.labels-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-block: 1rem;
}

.labels-container label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labels-container label p {
    font-weight: 600;
    font-size: 0.8rem;
    background-color: rgb(87, 235, 222, 0.2);
    padding: 4px 8px;
    border-radius: 1rem;
    border: 1px #57EBDE solid;
}

.overview {
    color: #57EBDE;
    font-size: 0.8rem;
}

.overview p {
    color: white;
}

.cast-container {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
}

.movie-cast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.6rem;
}

.movie-cast img {
    border: 1px #57EBDE solid;
    border-radius: 1rem;
    width: 3.3rem;
    padding: 4px;
}

.movie-page-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

.reviews-container {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.review {
    flex: 0 0 80%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
    text-overflow: ellipsis;
    scroll-snap-align: start;
}

.season-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 1rem;
}

.ep-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ep-arrow {
    transform: rotate(90deg);
}

.ep-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 30vh;
    gap: 8px;
    font-size: 0.4rem;
    padding: 2px;
}

.ep-card {
    display: flex;
    border: 1px gray solid;
    border-radius: 8px;
    padding: 4px;
    white-space: wrap;
    gap: 8px;
    width: 46vw;
}

.ep-details {
    width: 100%;
}

.ep-card img {
    width: 20vw;
}

.ep-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ep-rating {
    font-size: 8px;
}

.no-items-yet {
    margin-block: 14rem;
    text-align: center;
    color: white;
    font-size: 1rem;
}

.athenticate-page {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.8);
}

.athenticate-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.athenticate-form input {
    background-color: transparent;
    border: 1px #57EBDE solid;
    outline: none;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
}

.athenticate-form button {
    background-color: #57EBDE;
    font-weight: bolder;
    border: transparent;
    padding: 8px 1rem;
    border-radius: 8px;
}