@media (min-width: 768px) {
    .logo {
        font-size: 3rem;
    }

    .poster-img {
        width: 30vh;
    }

    .genres-container {
        width: fit-content;
    }

    .trend-movie-poster {
        width: 22vw;
    }

    .movie-details {
        max-width: 60%;
    }

    .actor-avatar {
        width: 6rem;
    }

    .trend-movie p,
    .trend-actor p {
        font-weight: 500;
    }

    .trend-genres {
        gap: 1.6rem 2.2rem;
    }

    .genre {
        height: 14vh;
    }

    .upcoming-movie img {
        width: 60vw;
    }

    footer {
        padding-inline: 3rem;
    }

    .footer-container {
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer-logo {
        width: 100%;
    }

    .quicktab-container,
    .download-container {
        width: 44%;
    }

    .all-movies-page {
        margin-top: 8rem;
    }

    .all-movie {
        width: 22vw;
    }

    .movie-page-background {
        height: 30vh;
    }

    .movie-page-container {
        font-size: 1rem;
        margin-top: -5rem;
    }

    .movie-page-details img {
        height: 18rem;
    }

    .moviePage-buttons-container button {
        font-size: 1rem;
        padding: 1rem;
    }

    .labels-container {
        justify-content: space-around;
    }

    .labels-container label p,
    .overview,
    .genres-container button {
        font-size: 1rem;
    }

    .movie-cast img {
        width: 5.2rem;
    }

    .season-container {
        width: 90%;
    }

    .ep-container {
        font-size: 0.7rem;
    }

    .ep-card img {
        width: 16vw;
    }

    .selects-container {
        gap: 1rem;
    }

    select {
        padding: 4px;
    }
}